/* google font */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

/* css variables */

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
  --lightShadow: 2px 5px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/* reset browser style  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
}
/* ***************** global styles***************** */
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h1 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 2;
  font-weight: 300;
}
a {
  text-decoration: none;
}

/* more global styles */

/* ***************** End global styles***************** */

/* ***************** navbar ***************** */
/* *****************End navbar ***************** */
/* ***************** hero ***************** */
.hero{
  min-height: 100vh;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-title{
  text-transform: uppercase;
  margin-bottom: 2rem;
  letter-spacing: 0.4rem;
}
.hero-banner{
  text-align: center;
  color: var(--mainWhite);
  padding: 0 2rem;
}
.hero-text{
  width: 85%;
  margin: 0 auto;
  letter-spacing: var(--mainSpacing);
  font-weight: 400;
}
/* *****************End hero ***************** */
